
<h1>图库管理</h1>


<a class="nav-link text-dark float-left" asp-area="" asp-controller="Manage" asp-action="AddPicture">添加图片</a>

<a class="nav-link text-dark float-left" asp-area="" asp-controller="Manage" asp-action="EditPicture">编辑图片</a>

@*<a class="nav-link text-dark float-left" asp-area="" asp-controller="Manage" asp-action="AddPictureRange">批量添加图片</a>*@

