GreenOnions.Gallery.Api/obj/
.vs/
GreenOnions.Gallery.Api/bin/
GreenOnions.Gallery.Api/obj//
GreenOnions.Gallery.Api/Properties/
GreenOnions.Gallery.AuthenticationCenter/bin/
GreenOnions.Gallery.AuthenticationCenter/obj/
GreenOnions.Gallery.AuthenticationCenter/Properties/
GreenOnions.Gallery.Common/bin/
GreenOnions.Gallery.Common/obj/
GreenOnions.Gallery.Common/Properties/
GreenOnions.Gallery.Interface/bin/
GreenOnions.Gallery.Interface/obj/
GreenOnions.Gallery.Interface/Properties/
GreenOnions.Gallery.Service/bin/
GreenOnions.Gallery.Service/obj/
GreenOnions.Gallery.Service/Properties/
GreenOnions.Gallery.MicroServiceGateway/bin/
GreenOnions.Gallery.MicroServiceGateway/obj/
GreenOnions.Gallery.MicroServiceGateway/Properties/
GreenOnions.Gallery.Models/bin/
GreenOnions.Gallery.Models/obj/
GreenOnions.Gallery.Models/Properties/
GreenOnions.Gallery.Web/bin/
GreenOnions.Gallery.Web/obj/
GreenOnions.Gallery.Web/Properties/